[build]
  publish = "public"
  functions = "functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundle = true
  external_node_modules = ["express", "axios", "express-session", "cors", "memorystore", "serverless-http"]

[dev]
  port = 8888
  publish = "public"
  functions = "functions"