[build]
  publish = "."       # Current directory
  command = "cp -r ../frontend/* . && npm install"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  directory = "functions"
  node_bundle = true
  external_node_modules = ["express", "axios", "express-session", "cors", "memorystore"]